<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{{.Title}}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="html/css/styles.css?v=1.1">
    <!-- <script src="static/js/script.js?v=1.1"></script> -->
</head>

<body>
<div id="app">
    <div class="header">
    </div>

    <div class="main">
        <!-- Форма аутентификации  -->
        <div class="buy_root">
            <!-- Заголовок аутентификации  -->
            <div class="buy_header">
                <img src="html/images/game_logo.png" alt="game_logo.png" class="game_logo_img">
            </div>

            <!-- Середина аутентификации по-высоте  -->
            <div class="buy_main">
                <!-- Форма для POST запроса  -->
                <div class="buy_form">
                    <!-- Надпись над блоком кнопок логина  -->
                    <div class="auth_login_buttons_title">Купить алмазы:</div>
                    <!-- Блок с горизонтальными кнопками логина  -->
                    <div class="auth_login_buttons_frame">
                        <!-- Блок с кнопками  -->
                        <div class="auth_login_buttons">

                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer">
        </div>
    </div>
</div>
</body>
</html>