<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Баланс</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="html/css/styles.css?v=1.1">
    <!-- <script src="static/js/script.js?v=1.1"></script> -->
</head>

<body>
<div id="app">
    <div class="header">
    </div>

    <div class="main">
        <div class="balance_root">
            <div class="balance_header">
                <img src="html/images/game_logo.png" alt="game_logo.png" class="game_logo_img">
            </div>

            <div class="balance_main">
                <div class="balance_form">
                    <div>
                        Спасибо! Ваша оплата получена. Зачислено {{.Amount}} алмазов.
                    </div>
                    <form action="/" id="return_form" method="POST">
                        <div class="button" onclick="document.forms['return_form'].submit()">
                            <div class="text">Возврат на главную</div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="footer">
        </div>
    </div>
</div>
</body>
</html>